/* Clear Any Styles Applied To The Basic Template */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'IosevkaRegular';
    src: url('fonts/iosevka_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IosevkaThin';
    src: url('fonts/iosevka_thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* CSS Behind Most Elements */
html {
    background-color: #1A1A1A;
    color:#F2F2F2;
    font-family: 'IosevkaRegular';
}

.ans_colr {
    color: #949494;
    font-family: 'IosevkaThin';
}


/* CSS Behind Secondary Elements */
.blurb {
    background-color: #1A1A1A;
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
}

.blurb:not(#Welcome):hover {
    background-color: #0D0D0D;
}

.code_back {
    background-color: #333333;
}
