/* -------------------------------------------------------------------------- */
/* Apply Basic Styling To Main Elements, And Parent That Contains Elements Too Snap To*/
$border_stroke: 2px;


/* -------------------------------------------------------------------------- */
/* Apply Basic Styling To Main Elements, And Parent That Contains Elements Too Snap To*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}

p  {
    font-size: 1em;
    font-family: 'Quattrocento', serif;
}


/* -------------------------------------------------------------------------- */
/* Apply Basic Styling To Main Elements, And Parent That Contains Elements Too Snap To*/


